<% provide(:title, @user.name) %>
<div class="center jumbotron">
    <body style="background-color:lightblue">
      
<div class="row">
  <aside class="col-md-4">
      <h1>
        <section class="user_info">
        <%= render 'shared/user_info' %>
        </section>
        <%= link_to "Create", create_path, class: "btn btn-lg btn-primary" %>
      </h1>
  </aside>
    <div class="col-md-8">
      <h3>Writings (<%= @user.microposts.count %>)</h3>
      <%= render 'shared/feed' %>
  </div>
</div>
