
<div id="header">
    <h1 style="text-align:center">Explore</h1>
</div>

<body style="background-color:lightblue">
    
<p style="text-align:center"> This is where you search for a book to read, assuming you didn't immediatly log in. The goal is to be as easy as possible<br>
to find something to read. The voting/ranking system will help, as will colorful book covers, formatting, etc.</p>

<div id="nav"style="text-align:center"> Books&nbsp;&nbsp;
Short Stories&nbsp;&nbsp;
Poetry&nbsp;&nbsp;
Other&nbsp;
</div>