<% provide(:title, "Help") %>
<div class="center jumbotron">
<%= link_to 'Back', pages_Home_path %>
    <body style="background-color:lightblue">
        <h1 style="text-align:center"> Help</h1>
    </body>