<% provide(:title, "Home") %>
<body style="background-color:lightblue">
    <div class="center jumbotron">
    <h1>Welcome to Cizeup!</h1>
    <h2>
    This would be where you would first enter the site. The background would feature colorful bookshelves on each side
    of the center. In the center, would be an open scroll with the welcome, and the links to pages below. The page would
    move slowly, as if you were walking down a hall of bookshelves.
    </h2>
        <div> 
              <a href=/pages/Explore class="btn btn-lg btn-primary">Explore</a></br></br>
        </div>
    <img alt="Home Page" src="assets/Homepage.gif" style="width:304px;height:228px;" />
    
</body>
