<%= link_to 'Back', pages_Home_path %>
<h1 style="text-align:center">My Shelf </h1>
<body style="background-color:lightblue">
<h1 style="text-align:center"><small>Sign In</small></h1>
<p style="text-align:center"> This is where you would log in to see your own works and works that you wish to continue reading/editing. </p>
