<% provide(:title, "Sign In") %>
<div class="center jumbotron">
    <body style="background-color:lightblue">
        <h1 style="text-align:center">My Shelf </h1>
        <p style="text-align:center"> 
        This is where you would log in to see your own works and works that you wish to continue reading/editing. 
        </p>
        <a href="#" class="btn btn-lg btn-primary">Sign In</a></br></br>
        <a href="#" class="btn btn-lg btn-primary">Create an Account</a>
    </body>
    
