<% provide(:title, "Screenplays") %>
<div class="center jumbotron">
<%= link_to 'Back', pages_Explore_path %>
    <body style="background-color:lightblue">
        <h1 style="text-align:center"> Screenplays</h1>
    </body>