<% provide(:title, "Theater") %>
<div class="center jumbotron">
<%= link_to 'Back', pages_Explore_path %>
    <body style="background-color:lightblue">
        <h1 style="text-align:center">Theater</h1>
    </body>