<div class="center jumbotron">
    <body style="background-color:lightblue">
<h1>Create Something New</h1></br>
<section class="micropost_form">
   
        <%= render 'shared/micropost_form' %>
</section>