@import "bootstrap-sprockets";
@import "bootstrap";

/* for comments */

/* Defined Variables (Colors,etc.) */

$green: #008000;
$light-grey: #777;
$gunmetal: #2C3539;
$grey: #555;
$dark-grey: #222;

/* For all Pages */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
 h1 {
  margin-bottom: 10px;
 }
}

/* for the fonts */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 5px;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gunmetal;
    color: $light-grey;
  a {
      color: $grey;
  }
    &:hover {
    color: $dark-grey;
    }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    margin-left: 15px;
   }
  }
}