<footer class="footer">
  <small>Created by Tyler Cohen</small>
  <nav>
    <ul>
      <li><%= link_to "About",  pages_About_path  %></li>
      <li><%= link_to "Contact Us",  pages_Contact_path %></li>
    </ul>
  </nav>
</footer>