<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Cizeup", pages_Home_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", pages_Home_path %></li>
            <li><%= link_to "My Shelf", pages_Login_path %></li>
            <li><%= link_to "Help", pages_Help_path %></li>
          </ul>
        </nav>
      </div>
</header>